/* THE UGLIER, THE BETTER diyelim :) */

:root {
  --black: #000000;
  --pink: #FB2576;
  --purple: #3F0071;
  --blue: #150050;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-end: 0;
  margin-block-start: 0;
}

body {
  background-color: var(--black)
}

h2 {
  color: var(--pink);
}

h2:hover {
  color: yellowgreen;
}

span {
  color: yellowgreen;
}

#display {
  color: var(--pink)
}


#input {
  border-style: none;
  height: 25px;
  transition: 0.5s;
  margin: 4px;
}

#input:focus {
  border-radius: 15px;
  outline: none;
}

#name-surname-age-gender-container {
  display: flex;
  flex-direction: column;
  width: 300;

}

#name-input,
#surname-input,
#age-input,
#gender-input {
  margin: 4px;
  width: 150px;
}

#name-span,
#surname-span,
#age-span,
#gender-span {
  color: yellowgreen
}

#display-name-surname-age-gender {
  color: var(--pink);
}

#thor-kilo-container {
  display: flex;
  flex-direction: column;
  width: 300;
}

#thor-old-kilo-input,
#thor-new-kilo-input {
  margin: 4px;
  width: 150px;
}

#display-kilo-difference {
  color: yellowgreen
}

#add-cookie-container {
  display: flex;
  flex-direction: column;
  width: 300;
}

#cookie-name,
#cookie-value {
  margin: 4px;
  width: 150px;
}

#submit-cookie-button,
#clear-cookies-button,
#bilet-cek,
#numara-cek,
#loto-sifirla,
#fetch-button,
#clear-data-button,
#clear-button,
#submit-name-surname-age-gender,
#calculate-kilo-button,
#next-album-button,
#previous-album-button {
  width: 150px;
  height: 25px;
  background: rgba(255, 255, 255, 0.15);
  border-style: none;
  border-radius: 10px;
  color: var(--pink);
  margin-top: 4px;
  transition: 1s;
}

#submit-cookie-button:hover,
#clear-cookies-button:hover,
#bilet-cek:hover,
#numara-cek:hover,
#loto-sifirla:hover,
#fetch-button:hover,
#clear-data-button:hover,
#clear-button:hover,
#submit-name-surname-age-gender:hover,
#calculate-kilo-button:hover,
#next-album-button:hover,
#previous-album-button:hover {
  background: rgb(255, 255, 255, 0.3);
  color: yellowgreen;
  cursor: pointer;
}

#cursor-coordinates-container {
  width: 250px;
  height: auto;
}

#empty-box {
  width: 200px;
  height: 150px;
  background-color: yellowgreen;
  margin-bottom: 25px;
}

#bilet-numaralar-container {
  color: var(--pink);
}

#bilet-span {
  font-size: 25px;
}

#fetch-data-container {
  display: flex;
  flex-direction: column;
  height: 350px;
}

#display-data-container {
  display: flex;
  flex-direction: column;
}

#album-contents {
  color: yellowgreen;
  background-color: rgba(255, 255, 255, 0.1);
  width: 300px;
}