/* THE UGLIER, THE BETTER diyelim :) */

:root {
  --black: #000000;
  --pink: #FB2576;
  --purple: #3F0071;
  --blue: #150050;
}

body {
  background-color: var(--black)
}

h2 {
  color: var(--pink);
}

h2:hover {
  color: yellowgreen;
}

span {
  color: yellowgreen;
}

#display {
  color: var(--pink)
}

#clear-button {
  width: 100px;
  height: 25px;
  background: rgba(255, 255, 255, 0.15);
  border-style: none;
  border-radius: 10px;
  color: var(--pink);
}

#input {
  border-style: none;
  height: 25px;
  transition: 0.5s;
  margin: 4px;
}

#input:focus {
  border-radius: 15px;
  outline: none;
}

#name-surname-age-gender-container {
  display: flex;
  flex-direction: column;
  width: 300;

}

#name-input,
#surname-input,
#age-input,
#gender-input {
  margin: 4px;
  width: 150px;
}

#name-span,
#surname-span,
#age-span,
#gender-span {
  color: yellowgreen
}

#display-name-surname-age-gender {
  color: var(--pink);
}

#submit-name-surname-age-gender {
  width: 100px;
  height: 25px;
  background: rgba(255, 255, 255, 0.15);
  border-style: none;
  border-radius: 10px;
  color: var(--pink);
  margin-top: 4px;
}

#thor-kilo-container {
  display: flex;
  flex-direction: column;
  width: 300;
}

#thor-old-kilo-input,
#thor-new-kilo-input {
  margin: 4px;
  width: 150px;
}

#calculate-kilo-button {
  width: 100px;
  height: 25px;
  background: rgba(255, 255, 255, 0.15);
  border-style: none;
  border-radius: 10px;
  color: var(--pink);
  margin-top: 4px;
}

#display-kilo-difference {
  color: yellowgreen
}

#add-cookie-container {
  display: flex;
  flex-direction: column;
  width: 300;
}

#cookie-name,
#cookie-value {
  margin: 4px;
  width: 150px;
}

#submit-cookie-button,
#clear-cookies-button,
#bilet-cek,
#numara-cek,
#loto-sifirla {
  width: 150px;
  height: 25px;
  background: rgba(255, 255, 255, 0.15);
  border-style: none;
  border-radius: 10px;
  color: var(--pink);
  margin-top: 4px;
}

#cursor-coordinates-container {
  width: 250px;
  height: auto;
}

#empty-box {
  width: 200px;
  height: 150px;
  background-color: yellowgreen;
  margin-bottom: 25px;
}

#bilet-numaralar-container {
  color: var(--pink);
}

#bilet-span {
  font-size: 25px;
}